
*{
margin:0px;
padding:0px;
font-family:arial
}
.main{
height:5500px;
width:100%;
background-color:white;
}
.header{
width:100%;
background-color:black;
position:relative;
display:flex
}
.left{
height:600px;
width:70%;
background-color:black;
background-image:url("img/cont6.jpg");
background-size:100% 100%;
}

.right{
height:600px;
width:30%;
background-color:orange;
}
.ok{
height:600px;
width:70%;
background:black;
position:absolute;
opacity:0.7;
}
.in{
height:300px;
width:730px;
backgrund:yel;
margin:150px;
position:absolute;
z-index:1
}
.in h1,.in p{
color:white
}
.in h1{
font-size:80px;
border-left:9px solid orange;
padding-left:15px;

}
.in p{
font-size:20px;
margin-top:15px;
margin-left:10px;
}
.in button{
height:50px;
width:200px;
color:white;
background-color:orange;
font-size:15px;
margin-top:40px;
margin-left:10px;
}
.right h1{
height:40px;
background-color:;
padding-left:45px;
margin-top:50px;
font-size:35px;
}
.service{
height:100px;
width:100%;
background-color:;
display:flex;
}
.img img{
height:60px;
width:60%;
margin-left:50px;
margin-top:40px;
}
.info h4{
margin-left:30px;
margin-top:40px;
font-size:20px;
}
.info p{
color:white;
margin-left:30px;
margin-top:20px;
font-size:20px;
}
.cont1{
height:170px;
width:100%;
background-color:white;
display:flex;
}
.left1{
height:170px;
width:70%;
background-color:b;
}
.right1{
height:170px;
width:30%;
background-color:white;
}
.left1 h1{
font-size:45px;
margin-top:60px;
margin-left:120px;
}

.right1 button{
height:50px;
width:200px;
font-size:19px;
letter-spacing:3;
margin-top:60px;
margin-left:30px;
background-color:white;
border:5px solid orange;
color:orange;
}
.right1 button:hover{
background-color:orange;
color:white;
}
.cont2{
height:800px;
width:100%;
background-color:#f7f7f7;
display:flex;
}
.left2{
height:800px;
width:33%;
background-color:black;
}
.right2{
height:800px;
width:70%;
background-color:;
}

.left2 img{
height:800px;
width:100%;
background-size:100% 100%;
opacity:0.8;
}
.right2 h1{
height:70px;
width:80%;
background-color:;
font-size:50px;
margin-left:120px;
margin-top:100px;
}
.up{
height:470px;
width:100%;
background-color:;
display:flex;
}
.l1{
height:470px;
width:50%;
background-color:;
}
.l1 p{
font-size:18px;
margin-top:50px;
margin-left:120px;
word-spacing:9;
margin-right:30px;
}
.r1{
height:470px;
width:50%;
background-color:;
}
.r1 p{
font-size:18px;
margin-top:50px;
margin-left:60px;
word-spacing:9;
margin-right:60px;
}
.r1 button{
height:50px;
width:160px;
border:5px solid black;
background-color:white;
color:black;
letter-spacing:3;
margin-top:30px;
margin-left:60px;
}
.r1 button:hover{
background-color:black;
color:white;
}
.down{
height:160px;
width:100%;
background-color:blue;
display:flex;
}
.l2{
height:160px;
width:50%;
background-color:orange;
text-align:center;
}
.r2{
height:160px;
width:50%;
background-color:black;
text-align:center;
color:white;
}
.l2 h1{
margin-top:20px;
margin-left:70px;
}
.r2 h1{
margin-top:20px;
margin-left:70px;
}
.l2 p{
margin-top:10px;
margin-left:40px;
}
.r2 p{
margin-top:10px;
margin-left:40px;
}
.cont3{
height:1000px;
width:100%;
background-color:white;
text-align:center;

}
.head{
height:150px;
width:100%;
background-color:white;
}
.head h1{
height:50px;
width:400px;
background-color:ed;
font-size:45px;
margin-left:35%;
padding-top:90px;
}
.middle{
height:650px;
background-color:;
width:100%;
display:flex;
margin-top:65px;
}
.m1{
height:650px;
width:25%;
background-color:white;
margin-left:130px;
margin-right:60px;
}
.m2{
height:650px;
width:25%;
background-color:white;
margin-right:60px;
}
.m3{
height:650px;
width:25%;
background-color:;
}
.pic{
height:200px;
width:100%;
background-color:white;
box-shadow:0px 20px 50px grey
}
.data{
height:410px;
width:100%;
background-color:white;
border:1px solid grey;
margin-top:39px;
}
.data h1,p,button{
margin-top:30px;
margin-left:35px;
margin-right:35px;
}
.data h1{
font-size:25px;
}
.data p{
font-size:17px;
word-spacing:5;
}
.data button{
height:40px;
width:150px;
letter-spacing:2;
background-color:white;
}
.pic img{
height:200px;
width:100%;
background-size:100% 100%;
}
.last{
height:100px;
width:100%;
background-color:white;
}
.last button{
height:50px;
width:150px;
border:4px solid black;
font-size:15px;
letter-spacing:2;
margin-left:%;
background-color:white;
}
.last button:hover{
background-color:black;
color:white;
}
.cont4{
height:700px;
width:100%;
background-color:yellow;
display:flex;
}
.left3{
height:700px;
width:32%;
background-color:black;
}
.right3{
height:700px;
width:68%;
background-color:green;
}
.left3 h1{
font-size:45px;
margin-left:60px;
margin-right:40px;
margin-top:90px;
color:white;
}
.left3 p{
font-size:18px;
margin-left:60px;
margin-right:50px;
margin-top:50px;
color:white;
word-spacing:3;
}
.left3 button{
height:60px;
width:180px;
font-size:18px;
margin-left:60px;
margin-top:60px;
color:orange;
border:5px solid orange;
background-color:black;
letter-spacing:3;
}
.left3 button:hover{
background-color:orange;
color:white;
}
.vedio{
height:530px;
width:100%;
background-color:black;
}
.vedio img{
height:530px;
width:100%;
background-color:;
background-size:100% 100%;
}
.table{
height:170px;
width:100%;
background-color:blue;
display:flex;
}
.t1{
height:170px;
width:50%;
background-color:orange;
}
.t2{
height:170px;
width:50%;
background-color:white;
}
.t1 h1{
margin-left:60px;
margin-top:30px;
}
.t1 h2{
margin-left:60px;
margin-top:10px;
font-size:25px;
}
.t2 button{
height:55px;
width:290px;
background-color:white;
border:5px solid black;
font-size:15px;
letter-spacing:3px;
margin-left:100px;
margin-top:55px;
}
.t2 button:hover{
background-color:black;
color:white;
}
.cont5{
height:700px;
width:100%;
background-color:#f7f7f7;
display:flex;
}
.left4{
height:700px;
width:35%;
background-color:#f7f7f7;
}
.right4{
height:700px;
width:65%;
background-color:#f7f7f7;
}
.left4 h1{
font-size:47px;
margin-left:200px;
margin-right:30px;
margin-top:95px;
}
.left4 p{
font-size:19px;
margin-left:200px;
margin-right:30px;
margin-top:60px;
}
.left4 button{
height:57px;
width:230px;
font-size:16px;
margin-left:200px;
margin-right:30px;
margin-top:55px;
border:5px solid orange;
color:orange;
}
.left4 button:hover{
background-color:orange;
color:white;
}
.rrr{
height:450px;
width:770px;
background-color:white;
margin-top:90px;
margin-left:40px;
}
.rrr h4,h3{
font-size:18px;
padding-top:30px;
margin-left:40px;
margin-bottom:30px;
margin-top:0px;
}
.rrr p{
word-spacing:7;
margin-left:40px;
}
.cont6{
height:550px;
width:100%;
background-color:#f7f7f7;
}
.hh{
height:80px;
width:100%;
background-color:#f7f7f7;
}
.hh h1{
height:50px;
width:500px;
background-color:;
margin-left:560px;
margin-bottom:30px;
font-size:47px;
}
.inner{
height:450px;
width:100%;
background-color:;
display:flex;
}
.c1 p{
margin-left:40px;
margin-right:40px;
margin-top:30px;
font-size:18px;
}
.c1 h2{
margin-left:40px;
margin-right:40px;
margin-top:40px;
font-size:22px;
}
.c2 p{
margin-left:40px;
margin-right:40px;
margin-top:30px;
font-size:18px;
}
.c2 h2{
margin-left:40px;
margin-right:40px;
margin-top:40px;
font-size:22px;
}
.c3 p{
margin-left:40px;
margin-right:40px;
margin-top:30px;
font-size:18px;
}
.c3 h2{
margin-left:40px;
margin-right:40px;
margin-top:40px;
font-size:22px;
}
.c1 h1{
height:60px;
width:170px;
background-color:;
display:flex;
margin-left:80px;
}
.c1 img{
height:28px;
width:28px;
margin-top:30px;
margin-right:7px;
}
.c2 h1{
height:60px;
width:170px;
background-color:;
display:flex;
margin-left:80px;
}
.c2 img{
height:28px;
width:28px;
margin-top:30px;
margin-right:7px;
}
.c3 h1{
height:60px;
width:170px;
background-color:;
display:flex;
margin-left:80px;
}
.c3 img{
height:28px;
width:28px;
margin-top:30px;
margin-right:7px;
}

.c1{
height:320px;
width:23%;
background-color:white;
margin-left:170px;
margin-right:20px;
margin-top:70px;
}
.c2{
height:320px;
width:23%;
background-color:white;
margin-left:40px;
margin-right:20px;
margin-top:70px;
}
.c3{
height:320px;
width:23%;
background-color:white;
margin-left:40px;
margin-right:20px;
margin-top:70px;
}
.cont7{
height:400px;
width:100%;
background-color:#f7f7f7;
}
.out1{
height:200px;
width:100%;
background-color:#f7f7f7;
display:flex;
}
.s1{
height:150px;
width:30%;
background-color:#f7f7f7;
margin-left:300px;
}
.s1 img{
margin-left:80px;
margin-top:20px;
}
.s2{
height:150px;
width:30%;
background-color:#f7f7f7;
}
.s2 img{
margin-left:40px;
margin-right:40px;
margin-top:20px;
}
.out2{
height:200px;
width:100%;
background-color:#f7f7f7;
display:flex;
}
.s3{
height:150px;
width:30%;
background-color:#f7f7f7;
margin-left:300px;
}
.s3 img{
margin-left:80px;
margin-top:20px;
}
.s4{
height:150px;
width:30%;
background-color:#f7f7f7;
}
.s4 img{
margin-left:40px;
margin-right:40px;
margin-top:20px;
}
.cont8{
height:600px;
width:100%;
background-color:orange;
display:flex;
}
.p1{
height:600px;
width:50%;
background-color:orange;
}
.p2{
height:600px;
width:50%;
background-color:white;
}
.p1 h1{
height:60px;
width:300px;
margin-left:100px;
margin-top:60px;
font-size:50px;
}
.a{
height:80px;
width:100%;
background-color:;
display:flex;
margin-top:50px;
}
.aa{
height:80px;
width:50%;
background-color:;
}
.aa input{
height:60px;
width:263px;
margin-left:100px;
border:orange;
}
.bb{
height:80px;
width:50%;
background-color:;
}
.bb input{
height:60px;
width:262px;
margin-left:8px;
border:orange;
}
.p1 textarea{
margin-left:100px;
height:150px;
width:550px;
border:orange;
}
.p1 button{
height:47px;
width:200px;
border:4px solid white;
color:white;
letter-spacing:4;
background-color:orange;
margin-left:450px;
}
.p1 button:hover{
background-color:orange;
color:white;
}
.x1{
height:130px;
width:100%;
background-color:black;
}
.x2{
height:470px;
width:100%;
background-color:white;
}
.details{
height:50px;
width:100%;
background-color:;
display:flex;
}
.imgg img{
height:30px;
width:30px;
background-color:;
margin-left:50px;
margin-top:50px;
}
.infoo p{
height:30px;
width:500px;
margin-left:30px;
margin-top:50px;
font-size:20px;
color:black;
}
#joker::placeholder{
padding-left:10px;
font-style:italic;
color:#999;
}
.xx{
height:70px;
width:160px;
background-color:;
display:flex;
margin-left:300px;
padding-top:50px;
}
.xx img{
height:30px;
width:30px;
margin-left:30px;
}



























@media(max-width:600px){
.header{
width:100%;
background-color:black;
position:relative;
display:flex;
flex-direction:column
}
.left{
height:380px;
width:100%;
background-color:black;
background-image:url("cont6.jpg");
background-size:100% 100%;
}
.ok{
height:380px;
width:100%;
background:black;
position:absolute;
opacity:0.8;
}
.in{
height:200px;
width:350px;
background:;
margin:50px 0px 0px 55px;
position:absolute;
z-index:1
}
.in p{
font-size:18px;
margin-top:20px;
word-spacing:8;
}
.in h1,p{
color:white
}
.in h1{
font-size:34px
}
.right{
height:500px;
width:100%;
background-color:orange;
}
.right h1{
height:30px;
width:80%;
background-color:;
margin-left:5px;
margin-top:30px;
font-size:30px;
}
.service{
height:80px;
width:90%;
background-color:;
display:flex;
margin-bottom:20px;
}
.cont1{
width:100%;
background-color:white;
display:flex;
flex-direction:column;
}
.left1{
height:190px;
width:100%;
background-color:;
}
.right1{
height:190px;
width:100%;
background-color:;
}
.left1 h1{
font-size:35px;
margin-top:15px;
margin-left:60px;
}
.right1 button{
height:40px;
width:170px;
font-size:14px;
letter-spacing:2;
margin-top:20px;
margin-left:60px;
background-color:white;
border:4px solid orange;
color:orange;
}
.cont2{
width:100%;
background-color:#f7f7f7;
display:flex;
flex-direction:column;
}
.left2{
height:150px;
width:100%;
background-color:grey;
}
.right2{
height:800px;
width:100%;
background-color:white;
}

.left2 img{
height:150px;
width:100%;
background-size:100% 100%;
opacity:0.0;
}
.right2 h1{
height:20px;
width:60%;
background-color:;
font-size:30px;
margin-left:40px;
margin-top:30px;
}
.up{
height:450px;
width:100%;
background-color:;
display:flex;
flex-direction:column;
}
.l1{
height:500px;
width:100%;
background-color:;

}
.l1 p{
font-size:15px;
margin-top:70px;
margin-left:40px;
word-spacing:2;
color:black;
}
.r1{
height:500px;
width:100%;
background-color:;
}
.r1 p{
font-size:15px;
margin-top:0px;
margin-left:40px;
word-spacing:2;
color:black;
}
.r1 button{
height:30px;
width:140px;
border:3px solid black;
background-color:white;
color:black;
letter-spacing:2;
margin-top:15px;
margin-left:40px;
margin-bottom:30px;
}
.down{
height:230px;
width:100%;
background-color:blue;
display:flex;
flex-direction:column;
}
.l2{
height:230px;
width:100%;
background-color:orange;
text-align:center;
color:black;
}
.r2{
height:230px;
width:100%;
background-color:black;
text-align:center;
color:white;
}
.l2 p{
color:black;
}
.l2 h1{
margin-top:30px;
margin-left:95px;
}
.r2 h1{
margin-top:30px;
margin-left:95px;
}
.l2 p,.r2 p{
margin-top:30px;
}

.cont3{
height:1000px;
width:100%;
background-color:white;
}
.head{
height:160px;
width:100%;
background-color:;
}
.head h1{
height:30px;
width:300px;
background-color:;
font-size:35px;
margin-left:110px;
margin-top:50px;
}
.middle{
height:550px;
background-color:;
width:86%;
display:flex;
flex-direction:column;
margin-top:2px;
}
.m1{
height:550px;
width:100%;
background-color:;
margin-left:65px;
}
.m2{
height:550px;
width:100%;
background-color:white;
margin-left:65px;
}
.m3{
height:550px;
width:100%;
background-color:;
margin-left:65px;
}
.pic{
height:200px;
width:90%;
background-color:;
margin-top:20px;
}
.data{
height:300px;
width:90%;
background-color:white;
border:1px solid grey;
margin-top:20px;
}
.data h1,p,button{
margin-top:30px;
margin-left:30px;
margin-right:20px;
}
.data h1{
font-size:22px;
}
.data p{
font-size:15px;
word-spacing:5;
color:black;
}
.data button{
height:30px;
width:140px;
letter-spacing:2;
background-color:white;
}
.pic img{
height:200px;
width:100%;
background-size:100% 100%;
}
.last{
width:100%;
background-color:white;
}
.last button{
height:50px;
width:150px;
border:4px solid black;
font-size:15px;
letter-spacing:2;
margin-left:50px;
margin-top:1100px;
}

.cont4{
width:100%;
background-color:white;
display:flex;
flex-direction:column;
}
.left3{
height:800px;
width:100%;
background-color:black;
opacity:1;
margin-top:900px;
}
.right3{
height:600px;
width:100%;
background-color:green;
}
.left3 h1{
font-size:40px;
margin-left:50px;
margin-right:50px;
margin-top:70px;
color:white;
}
.left3 p{
font-size:15px;
margin-left:50px;
margin-right:60px;
margin-top:40px;
color:white;
word-spacing:3;
}
.left3 button{
height:60px;
width:180px;
font-size:18px;
margin-left:50px;
margin-top:50px;
color:orange;
border:5px solid orange;
background-color:black;
letter-spacing:3;
margin-bottom:40px;
}
.vedio{
height:350px;
width:100%;
background-color:black;
}
.vedio img{
height:350px;
width:100%;
background-color:;
background-size:100% 100%;
}
.table{
height:220px;
width:100%;
background-color:blue;
display:flex;
flex-direction:column;
}
.t1{
height:220px;
width:100%;
background-color:orange;
}
.t2{
height:200px;
width:100%;
background-color:white;
}
.t1 h1{
margin-left:70px;
margin-top:20px;
margin-bottom:10px;
font-size:25px;
}
.t1 h2{
margin-left:70px;
margin-top:5px;
font-size:23px;
margin-bottom:10px;
}
.t2 button{
height:50px;
width:280px;
background-color:white;
border:5px solid black;
font-size:12px;
letter-spacing:3px;
margin-left:100px;
margin-top:25px;
}
.cont5{
width:100%;
background-color:#f7f7f7;
display:flex;
flex-direction:column;
margin-top:1280px;
}
.left4{
height:600px;
width:100%;
background-color:#f7f7f7;
}
.right4{
height:850px;
width:100%;
background-color:#f7f7f7;
}
.left4 h1{
font-size:38px;
margin-left:50px;
margin-right:20px;
margin-top:60px;
}
.left4 p{
font-size:18px;
margin-left:50px;
margin-right:20px;
margin-top:50px;
word-spacing:7;
}
.left4 button{
height:50px;
width:210px;
font-size:16px;
margin-left:50px;
margin-right:30px;
margin-top:40px;
border:5px solid orange;
color:orange;
}
.rrr{
height:450px;
width:80%;
background-color:white;
margin-top:60px;
margin-left:50px;
margin-bottom:40px;
}
.rrr h4,h3{
font-size:18px;
padding-top:20px;
margin-left:30px;
margin-bottom:10px;
margin-top:0px;
}
.rrr p{
word-spacing:3;
margin-left:30px;
color:black;
}
.cont6{
width:100%;
background-color:red;
margin-top:220px;
}
.hh{
height:80px;
width:100%;
background-color:#f7f7f7;
}
.hh h1{
height:70px;
width:350px;
background-color:#f7f7f7;
margin-left:80px;
padding-top:20px;
font-size:36px;
}
.inner{
height:900px;
width:100%;
background-color:#f7f7f7;
display:flex;
flex-direction:column;
}
.c1 p{
margin-left:40px;
margin-right:40px;
margin-top:20px;
font-size:18px;
color:black;
}
.c1 h2{
margin-left:40px;
margin-right:40px;
margin-top:30px;
font-size:22px;
}
.c2 p{
margin-left:40px;
margin-right:40px;
margin-top:20px;
font-size:18px;
color:black;
}
.c2 h2{
margin-left:40px;
margin-right:40px;
margin-top:30px;
font-size:22px;
}
.c3 p{
margin-left:40px;
margin-right:40px;
margin-top:20px;
font-size:18px;
color:black;
}
.c3 h2{
margin-left:40px;
margin-right:40px;
margin-top:30px;
font-size:22px;
}
.c1{
height:260px;
width:80%;
background-color:white;
margin-left:50px;
margin-right:20px;
margin-top:30px;
}
.c2{
height:260px;
width:80%;
background-color:white;
margin-left:50px;
margin-right:20px;
margin-top:30px;
}
.c3{
height:260px;
width:80%;
background-color:white;
margin-left:50px;
margin-right:20px;
margin-top:30px;
}
.cont7{
width:100%;
background-color:#f7f7f7;
margin-top:430px;
}
.out1{
height:230px;
width:100%;
background-color:#f7f7f7;
display:flex;
flex-direction:column;
}
.s1{
height:150px;
width:70%;
background-color:#f7f7f7;
margin-left:90px;
margin-top:60px;
}
.s1 img{
margin-left:20px;
margin-right:20px;
margin-top:20px;
}
.s2{
height:150px;
width:70%;
background-color:#f7f7f7;
margin-left:90px;
}
.s2 img{
margin-left:20px;
margin-right:20px;
margin-top:20px;
}
.out2{
height:380px;
width:100%;
background-color:#f7f7f7;
display:flex;
flex-direction:column;
margin-top:120px;
}
.s3{
height:150px;
width:70%;
background-color:#f7f7f7;
margin-left:90px;
}
.s3 img{
margin-left:20px;
margin-right:20px;
margin-top:20px;
}
.s4{
height:150px;
width:70%;
background-color:#f7f7f7;
margin-left:90px;
}
.s4 img{
margin-left:20px;
margin-right:20px;
margin-top:20px;
}

.cont8{
width:100%;
background-color:orange;
display:flex;
margin-top:330px;
flex-direction:column;
}
.p1{
height:600px;
width:100%;
background-color:orange;
}
.p2{
height:300px;
width:100%;
background-color:white;
}
.p1 h1{
height:60px;
width:250px;
margin-left:60px;
margin-top:60px;
font-size:40px;
}
.a{
height:80px;
width:90%;
background-color:;
display:flex;
margin-top:30px;
flex-direction:column;
}
.aa{
height:80px;
width:50%;
background-color:;
}
.aa input{
height:60px;
width:370px;
margin-left:60px;
border:orange;
}
.bb{
height:80px;
width:50%;
background-color:;
}
.bb input{
height:60px;
width:370px;
margin-left:60px;
border:orange;
margin-top:20px;
}
.p1 textarea{
margin-left:60px;
height:150px;
width:370px;
border:orange;
margin-top:80px;
}
.p1 button{
height:47px;
width:200px;
border:4px solid white;
color:white;
letter-spacing:4;
background-color:orange;
margin-left:230px;
margin-top:10px;
margin-bottom:30px;
}
.x1{
height:130px;
width:100%;
background-color:black;
}
.x2{
height:240px;
width:100%;
background-color:white;
}
.details{
height:50px;
width:100%;
background-color:;
display:flex;
}
.imgg img{
height:30px;
width:30px;
background-color:;
margin-left:40px;
margin-top:50px;
}
.infoo p{
height:30px;
width:350px;
margin-left:30px;
margin-top:50px;
font-size:17px;
color:black;
background-color:;
}
#joker::placeholder{
padding-left:10px;
font-style:italic;
color:#999;
}
.xx{
height:70px;
width:160px;
background-color:;
display:flex;
margin-left:150px;
padding-top:50px;
}
.xx img{
height:30px;
width:30px;
margin-left:30px;
}

}

